.price-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0px;
  gap: 4px;
  width:auto;
  max-width: 20%;
  height: auto;

  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 1;
}

.price {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;
  gap: 8px;

  width: auto;
  max-width: 100%;
  height: auto;
  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
}

.price-text {
  width: 100px;
  height: 26px;

  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  text-align: right;
  color: #231f20;
  order: 0;
  white-space: nowrap;
}

.list-price {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;

  width: auto;
  height: auto;

  order: 2;
  
}

.list-price-text {
  width: auto;
  height: auto;

  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  text-align: right;

  color: #002854;
 
}

.list-price-value {
  width: 83px;
  height: 21px;

  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  text-align: right;
  text-decoration-line: line-through;

  color: #8094aa;

  order: 1;
  
}

.discount-price-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;

  width: auto;
  height: auto;
  max-width: 100%;

  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
}

.discount-price {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;
  gap: 4px;
  width: auto;
  height: auto;
  max-width: 100%;

  order: 0;
  align-self: stretch;
 
}


.savings {
  width: auto;
  height: auto;
  

  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  text-align: right;

  color: #016839;

  flex: none;
  order: 1;
  flex-grow: 0;
}

.discount-percent {
  width: auto;
  height: auto;
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  text-align: right;
  color: #b41f30;

  order: 2;
  
}


.additional-savings {
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  text-align: right;

  color: #016839;

  flex: none;
  order: 3;
  align-self: stretch;
 
}

.info-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 10px;

  width: auto;
  height: auto;
 

  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
}

.tag {
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 10px;
  width: 16px;
  height: 21px;

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.custom-icon {
  font-size: 16px;
}
